RewriteEngine On
Redirect 308 /discord https://discord.com/invite/d72Wjyym6m
Redirect 308 /dc https://discord.com/invite/d72Wjyym6m

Redirect 308 /github https://github.com/2020Sanoj
Redirect 308 /twitch https://www.twitch.tv/2020sanoj
Redirect 308 /twitter https://twitter.com/2020sanoj
Redirect 308 /insta https://www.instagram.com/san0j2020
Redirect 308 /instagram https://www.instagram.com/san0j2020
Redirect 308 /fiverr https://fiverr.com/s2/5835fc1cb6

Redirect 308 /regeln https://dl.san0j.de/regeln

Redirect 308 /xray https://www.curseforge.com/minecraft/texture-packs/xray-ultimate-1-11-compatible
Redirect 308 /dark https://github.com/xnebulr/Minecraft-Default-Dark-Mode

Redirect 308 /Setup /setup
Redirect 308 /setup.pdf /setup

ErrorDocument 404 https://san0j.de
