RewriteEngine On
Redirect /rss https://sancraft.de:8443/
Redirect /fb https://wrfjkdxpuwid13so.myfritz.net:44915/
Redirect /discord https://discord.com/invite/d72Wjyym6m/
Redirect /dc https://discord.com/invite/d72Wjyym6m/
Redirect /index.html https://github.com/2020sanoj/
Redirect /webmail https://mailcow.san0j.de/
Redirect /wm https://mailcow.san0j.de/

Redirect /github https://github.com/2020Sanoj/
Redirect /twitch https://www.twitch.tv/2020sanoj/
Redirect /twitter https://twitter.com/2020sanoj/
Redirect /insta https://www.instagram.com/san0j2020/
Redirect /instagram https://www.instagram.com/san0j2020/
Redirect /fiverr https://fiverr.com/s2/5835fc1cb6

Redirect /a24dmng https://map.a24dmng.de/
Redirect /a24 https://map.a24dmng.de/
Redirect /lobby https://map.a24dmng.de/
Redirect /oneblock https://ob.sancraft.de/
Redirect /ob https://ob.sancraft.de/
Redirect /map https://map.sancraft.de/
Redirect /survival https://map.sancraft.de/
Redirect /sc https://map.sancraft.de/
Redirect /sch https://map.sancraft.de/

Redirect /mod https://github.com/SanCraftDev/Mod-Installer/
Redirect /software https://github.com/SanCraftDev/Software-Installer/
Redirect /stacker https://github.com/SanCraftDev/Stacker/
Redirect /stack https://github.com/SanCraftDev/Stacker/
Redirect /modinstaller https://github.com/SanCraftDev/Mod-Installer/
Redirect /mod-isnatller https://github.com/SanCraftDev/Mod-Installer/
Redirect /softwareinstaller https://github.com/SanCraftDev/Software-Installer/
Redirect /software-installer https://github.com/SanCraftDev/Software-Installer/
Redirect /debian https://github.com/SanCraftDev/Debian-Setup/
Redirect /setup-debian https://github.com/SanCraftDev/Debian-Setup/
Redirect /debian-setup https://github.com/SanCraftDev/Debian-Setup/
Redirect /regeln https://dl.san0j.de/regeln/

Redirect /xray https://www.curseforge.com/minecraft/texture-packs/xray-ultimate-1-11-compatible
Redirect /dark https://github.com/xnebulr/Minecraft-Default-Dark-Mode/
Redirect /18new https://www.reddit.com/r/Minecraft/comments/ilauey/i_made_a_resource_pack_that_updates_18_textures/
Redirect /18new2 https://www.planetminecraft.com/texture-pack/1-17-ores-for-1-8-9/

Redirect /staff++ https://web.staffplusplus.org/
Redirect /s+ https://web.staffplusplus.org/
Redirect /staff https://web.staffplusplus.org/
Redirect /ban https://web.staffplusplus.org/

Redirect /tjcc/index.html https://youtu.be/bPvUlma7EYI
Redirect /tjc/index.html https://youtu.be/bPvUlma7EYI

Redirect /Setup /setup
Redirect /setup.pdf /setup

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /yourls-loader.php [L]
</IfModule>